*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  width: 100%;
  background-color: rgb(33, 47, 48);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

a:hover{
  color: orange;
}
.toggle_btn button{
    border: none;
    background: none;
}
i{
  color: white;
}

/* Header */
header{
  width: 100%;
  position: sticky;
  padding: 0 2rem;
  background-color: rgb(62, 78, 34);
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links{
  display: flex;
  gap: 2em;
}

.navbar .toggle_btn{
  display: none;
}


/* Dropdown menu */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  height: 0;
  width: 100%;
  background-color: rgba(62, 78, 34, 0.9);
  backdrop-filter: blur(10px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 300px;
}

.dropdown_menu li{
  display: flex;
  justify-content: center;
  padding: 0.7em;
  align-items: center;
}


/* Responsive Design */

@media screen and (max-width:920px){
  .navbar .links{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
    /* height: 300px; */
  }
}



/*main section*/
#main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

#intro p{
  text-align: justify;
}
#main{
  display: flex;
}
#main>img{
  width: 30%;
  height: 30%;
  margin-top: 100px;
  border: 1px solid white;
  border-radius: 10px 200px ;
}
#main h1{
  font-size: 3rem;
}
#more-btn, #more-btn-2{
  margin: 10px;
  padding: 10px;
  background-color: wheat;
  color: black;
  font-weight: bolder;
  border: none;
  border-radius: 50px;
}
#more-btn:hover , #more-btn-2:hover{
  padding: 12px;
  cursor: pointer;
}
 
@media screen and (max-width: 900px) {
  #main{
    flex-direction: column-reverse;
    gap: 30px;
  }
  #main>img{
    width: 60%;
    margin-top: 50px;
    border-radius: 10px 100px;
  }
  #intro{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #intro h1{
    font-size: 2rem;
  }
  #intro p{
      width: 100%;
      line-height: 20px;
  }
}

@media screen and (min-width: 901px) {
  #main{
    gap: 50px;
    width: 90%;
    margin: 0 auto;
  }
  #main h1{
    font-size: 2rem;
  }
  #main>img{
    width: 40%;
    margin-top: 50px;
    border-radius: 10px 100px;
  }
}



/* About Page */
#about-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  gap: 20px;
  margin: 50px 0;
  padding: 50px;
  background-color: hsl(184, 19%, 14%);
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#about-me-pic{
  height: 30%;
  width: 40%;
  border-radius: 150px 10px;
  border: 1px solid white;
}

#about-txt{
  width: 100%;
  text-align: justify;
  font-size: larger;
  }

  /* About page responsive design */

  @media screen and (max-width: 900px) {
    #about-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* padding: 10% auto; */
      gap: 50px;
      width:100%;
    }
      #about-me-pic{
        width: 70%;
        height: 30%;
        border-radius: 100px 10px;
      }
  } 





  
  /* Skills Section */

#skill-conatainer{
    color: white;
    text-align: center;
}

#tech-skills,#soft-skills{
  width: 40%;
}

#skills{
  display: flex;
  justify-content: space-around;
  height: 40%;
  width: 100%;
}

#skills .item{
  padding: 0.2rem 0;
  margin: 0.2rem 0;
}

#skills .item-text{
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 1.3rem;
  position: relative;
}

#skills .item-text span{
  position: absolute;
}

#skills .item-text .w-90{
  margin-left: 90%;
}

#skills .item-text .w-85{
  margin-left: 85%;
}
#skills .item-text .w-75{
  margin-left: 75%;
}
#skills .item-text .w-80{
  margin-left: 80%;
}

.progress{
  margin: 1.6rem 0;
  border-radius: 10px;
  height: 10px;
  width: 100%;
  background-color: rgb(67, 66, 66);
  overflow: hidden;
}
.progress-bar{
  background-color: green;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.progress-bar.w-90{
  width: 90%;
}

.progress-bar.w-85{
  width: 85%;
}

.progress-bar.w-80{
  width: 80%;
}

.progress-bar.w-75{
  width: 75%;
}


/* SKill section responsive design */
@media screen and (max-width: 900px) {
  #skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  #tech-skills,#soft-skills{
    width: 90%;
  }
}




/* Resume Section */
#resume{
  color: white;
  padding: 50px 0;
  text-align: justify;
  background-color: hsl(184, 19%, 14%);
}
.resumeHeading{
  text-align: center;
}
#resume .profile{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  font-size: 20px;
  text-align: justify;
}

.eduandexp{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  margin: 10px 80px;
  gap: 50px;
}

.summary .summaryHeading{
  margin: 0px 0 10px 0px;
}
.summary .myname{
  font-size: 25px;
  font-weight: 600;
}
.summaryText{
  margin: 10px 0 10px 0;
  font-style: italic;
  opacity: 0.7;
}
.summary li{
  margin: 10px 0 0px 20px;
  list-style: disc;
}

.education{
  margin: 20px 0 0px 0px;
  list-style: disc;
}
.education h3{
  margin: 10px 0 0px 10px;
  font-size: 18px
}
.year{
  margin: 0px 0 0px 10px;
  font-size: 14px;
  font-style: italic;
  opacity: 0.7;
  background-color: rgb(59, 83, 75);
  display: inline-block;
}
.college{
  margin: 3px 0 5px 10px;
  font-size: 14px;
  font-style: italic;
  opacity: 0.8;
}


/* experience */
.experience{
  text-align: justify;
}
.experience h3{
  margin: 10px 0 0px 10px;
  font-size: 25px;
  font-weight: 600;
}

.experience h4{
  margin: 0px 0 10px 10px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
}

.experience p:first-of-type{
  margin: 0px 0 0px 10px;
  font-size: 14px;
  font-style: italic;
  opacity: 0.8;
  background-color: rgb(59, 83, 75);
  display: inline-block;
}
.experience p:last-of-type{
  margin: 5px 0 20px 10px;
  font-size: 14px;
  font-style: italic;
}
.experience li{
  margin: 10px 0 0px 20px;
  list-style: disc;
}



.timeline{
  position: relative;
  padding-left: 10px;
  color: white;
}

.timeline::before{
  content: "";
  position: absolute;
  height: 77%;
  width: 2px;
  background-color: white;
  left: 33px;
  top: 28px;
}

.experience .timeline::before{
  content: "";
  position: absolute;
  height: 90%;
  width: 2px;
  background-color: white;
  left: 33px;
  top: 28px;
}


.timeline-item{
  display: flex;
  align-items: flex-start;
  /* margin-bottom: 30PX; */
  position: relative;
}
.circle{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  left: 15px;
  top: 10px;
}
.content{
  padding-left: 50px;
}
h3{
  margin-bottom: 5px;
  font-size: 1.2em;
}
p{
  margin-bottom: 5px;
}



/* contact section */
footer{
  color: white;
  /* padding: 100px 0 0 0; */
  height: 300px;
  width: 100%;
  background-color: rgb(62, 78, 34);
}

.footerContainer{
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  align-items: center;
  width: 100%;
}

footer h1{
  text-align: center;
  padding-top: 2rem;
}

.footerContent{
  margin: 0px 100px;
}

.footerContent i{
  font-size: 20px;
  margin: 20px 0 0 0;
}
.footerContent h2{
  display: inline;
}

.iconslink{
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.iconslink .icon{
  display: grid;
  justify-content: center;
}

.iconslink i{
  font-size: 50px;
}

.iconslink i:hover{
  color: orange;
  cursor: pointer;
}
.iconslink .phone h4{
  margin-left: 10px;
}
.iconslink .linkedin i{
  margin-left: 10px;
}

/* resume and contact responsive design */

@media screen and (max-width: 900px) {
  .footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerContent{
    display: flex;
    justify-content: space-around;
    width: 100%;
   }
   .iconslink{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 50px;
   }

  .iconslink i{
    font-size: 30px;
  }
  .iconslink h4{
    font-size: 10px;
  }
  
  .eduandexp{
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
  
}